
<section class="answers">
    <div class="container">
        <div class="answers-pre-title">
            Результат прохождения теста
            <img src="../static/images/grey-mini-arrow.svg" alt="Стрелка">
            <span id="answers-pre-title-span">Тест №1. “JavaScript: Начальный уровень”</span>
        </div>
        <h1 class="answers-title common-title"><span>Правильные ответы</span> к тесту</h1>
        <div class="answers-person-info">
            Тест выполнил <span id="answers-person-info-span">Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="correct-answers" id="correct-answers"></div>
        <div class="back-to-result common-link">
            <a href="result.html">
                Обратно к моему результату теста
                <img src="../static/images/blue-mini-arrow.svg" alt="Стрелка"></a>
        </div>
    </div>
</section>
